@import "tailwindcss";

@theme {
	--color-body-primary: #d9d9d9;

	--color-dark-primary: #141d2f;
	--color-dark-secondary: #1e2a47;
	--color-dark-tertiary: #2b3442;

	--color-normal-primary: #4b6a9b;
	--color-normal-secondary: #90a4d4;

	--color-dark-mode-bg: #141d2f;
	--color-light-mode-bg: #f6f8ff;

	--color-dark-mode-bg-app: #1e2a47;
	--color-light-mode-bg-app: #fff;

	--color-blue-primary: #0079ff;
	--color-blue-secondary: #60abff;

	--color-red-primary: #f74646;

	--shadow-light-mode: rgba(70, 95, 187, 0.19);
	--shadow-dark-mode: rgba(0, 0, 0, 0.25);

	--color-intro-bg-dark: #222;
}

body {
	font-family: "Space Mono", monospace;
}

/* Form */
.form-btn {
	position: relative;

	font-weight: bold;
	line-height: 150%;

	color: transparent;
	background-color: var(--color-blue-primary);

	border-radius: 12px;

	padding: 12px 24px;

	transition: background-color 0.5s;

	overflow: hidden;
	cursor: pointer;
}

.form-btn::before {
	content: "Search";

	position: absolute;
	top: 0;

	transition: transform 0.5s;

	transform: translateY(50%);
	color: var(--color-light-mode-bg-app);
}

.form-btn::after {
	content: "Search";

	position: absolute;
	top: 0;
	left: 50%;

	transition: transform 0.5s;

	transform: translateX(-50%) translateY(200%);
	color: var(--color-light-mode-bg-app);
}

.form-btn:hover {
	background-color: var(--color-blue-secondary);
}

.form-btn:hover::before {
	transform: translateY(-200%);
}
.form-btn:hover::after {
	transform: translateX(-50%) translateY(50%);
}
/* End of Form */

/* Github Link */
.github-link-01 {
	position: relative;
}

.github-link-01::before {
	content: "";

	position: absolute;
	bottom: 0;
	left: 0;
	transform-origin: left;
	transform: scaleX(0);

	width: 100%;
	height: 2px;

	background-color: var(--color-light-mode-bg-app);

	transition: transform 0.35s ease-in-out;

	will-change: transform;
}

.github-link-01:hover::before,
.github-link-01:active::before {
	transform: scaleX(1);
}

.github-link-02 {
	position: relative;
}

.github-link-02::before {
	content: "";

	position: absolute;
	bottom: 0;
	left: 0;
	transform-origin: left;
	transform: scaleX(0);

	width: 100%;
	height: 2px;

	background-color: var(--color-dark-mode-bg-app);

	transition: transform 0.35s ease-in-out;

	will-change: transform;
}

.github-link-02:hover::before,
.github-link-02:active::before {
	transform: scaleX(1);
}
/* End of Github Link */

/* User Footer */
.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, calc(480px / 2));
	grid-template-rows: repeat(2, 1fr);
}
/* End of User Footer */

/* User Avatar Desktop | Mobile */
.user-avatar-desktop {
	display: block;
}

.user-header-mobile,
.user-avatar-mobile {
	display: none;
}
/* End of User Avatar Desktop | Mobile */

/* Media Query */
@media (max-width: 760px) {
	.wrapper {
		@apply px-5;
	}
}

@media (max-width: 680px) {
	.user-bio-profile {
		@apply flex-col;
	}

	.user-bio-stats {
		@apply flex-col;
	}
}

@media (max-width: 560px) {
	form {
		@apply pl-3;
	}

	form input {
		@apply text-xs;
	}

	.form-btn {
		padding: 12px 20px;
	}

	.error-message {
		@apply -top-4 right-4.5;
	}

	.user-bio {
		@apply flex-col items-center justify-center;
	}

	.user-header-desktop {
		display: none;
	}

	.user-avatar-desktop {
		display: none;
	}

	.user-avatar-mobile {
		display: block;
	}

	.user-header-mobile {
		display: flex;
	}

	.no-user-found {
		@apply p-6;
	}

	.no-user-found p {
		@apply text-sm;
	}
}

@media (max-width: 450px) {
	body {
		@apply p-0;
	}

	.user-bio {
		@apply p-8;
	}

	.no-user-found {
		@apply py-6 px-3;
	}
}
/* End of Media Query */
